@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Matemasie&family=Moderustic:wght@300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainColor: #0000F7; 
  --lighter: #3333FA; 
  --darker: #0000C0; 
  --saturated: #0000B3;
  --muted: #00008A; 
  --complementary: #0c0b0d; 
  --black: #000000;
  --white: #FFFFFF;
}

.logo{
  font-family: 'Matemasie', cursive;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.6rem; 
  background: var(--white);
}

/* Vertical scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: var(--black); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--saturated); 
}

.styled-list {
  list-style-type: disc; 
}

.facolor{
  color: var(--white);
}