@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Matemasie&family=Moderustic:wght@300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainColor: #2E236C;
  --lighter: #4A3B8F;
  --darker: #1C1545;
  --saturated: #372A83;
  --muted: #251E56;
  --complementary: #6C2362; 
  --black: #000000;
  --white: #FFFFFF;
}

.logo{
  font-family: 'Matemasie', cursive;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.6rem; 
  background: var(--white);
}

/* Vertical scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: var(--saturated); 
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: var(--complementary); 
}
